.box1,.box2{
    height: 160px;
    width: 120px;
    /* background-image: url(/watch.jpg); */
    background-size: cover;
}
.box1{
    margin: 30px;
    background-color: blue;
}
.box2{
    padding: 30px;
    background-color: blue;
}
.wrapper{
    background-color: red;
}